/* footer */


.footer{
    position: absolute;
    bottom: 5px;
    width: 100vw;
    margin-top: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 369px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    border-top: 1px solid var(--tsb-blue);
    border-left: 1px solid var(--tsb-blue);
    color: var(--tsb-navy);
    background-color: var(--bg-grey);
  }
  
  .dev-credit{
    font-weight: 600;
  }