/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
/* Colors: */
--bg-grey: #FAFAFA;
--tsb-blue: #B1CEE9;
--tsb-navy: #0D274F;
--tsb-orange: #F4AD2F;
--unnamed-color-ffffff: #FFFFFF;
}

a{
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:focus { outline: 2px solid var(--orange-color); } 

body, .root, .App{
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

body::-webkit-scrollbar {
  display: none;
}


.main-container{
  height: 100%;
  width: 99%;
  display: flex;
  font-family: 'PT serif', serif;
}

/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */

/* Side Bar */

.sidebar-container{
  position: static;
  width: 30%;
  min-width: 360px;
  max-width: 360px;
  padding: 50px 19px 2.5vh 19px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid var(--tsb-blue);
  background-color: var(--bg-grey);
}

.top-bar{
  transition: 0s;
  display: none;
}

.sidebar-content{
  height: 100vh;
  width: 99%;
  color: var(--tsb-navy);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.side{
  height: 19%;
  padding: 0px 18px;
}

.side-brand{
  height: 68px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 15px;
  cursor: pointer;
}

.logo-container{
  height: 75%;
  width: auto;
}

.logo{
  height: 100%;
  max-height: 68.5px;
  max-width: 68.5px;
}

.brand-text{
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding-left: 10px;
}

.logo-text, .brand-name{
  line-height: 20px;
  width: 100%;
  font-size: 16px;
}

.brand-name{
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

.side-links{
  height: fit-content;
  display: flex;
  margin-top: 1vh;
  font-size: 17px;
  font-weight: 400;
}

.side-links-list{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

.side-links-list li{
  display: flex;
  align-items: space-evenly;
  margin-bottom: 10px;
}

.coaching-links{
  position: relative;
  left: -20%;
  opacity: 0;
  list-style-type: none;
}

.coaching-links li{
  font-size: 17px; 
}

.moveable-list{
  position: relative;
  top: -48%;
  transition: 0.75s;
  margin-bottom: 10px;
}

.about-link, .coaching-link{
  transition: 0s;
}

.border-div{
  width: 100%;
  border-top: 1.8px solid white;
  margin: 1vh 0px 2vh 0px;
  opacity: 0.5;
}

.side-blog{
  position: relative;
  top: -120px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 0.75s;
}

.blog-title{
  margin-bottom: 10px;
  padding-top: 15px;
  padding-right: 10px;
  border-top: 1px solid var(--tsb-blue);
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.blog-link{
  cursor: pointer;
  font-size: 16px;
}

.side-icons{
  position: relative;
  top:-130px;
  height: 3vh;
  width: 100%;
  align-self: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
  transition: 0.75s;
  transform: translateZ(0);
}

.side-icon-container{
  height: 2.5vh;
  width: 2.5vh;
  min-height: 22px;
  min-width: 22px;
  max-height: 30px;
  max-width: 30px;
  display: flex;
  margin-top: -25px;
  margin-right: 7px;
  color: red;
  transform: translateZ(0);
  cursor: pointer;
}

.side-icon-container:hover{
  transform: scale(1.08) translateZ(0);
}

.link{
  cursor: pointer;
}

.link:hover{
  transition:0.1s;
  color: var(--tsb-orange);
}



/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */

/* Home */

.non-side-content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-container{
  height: 100%;
  width: 100%;
  margin-left: 30px;
  padding: 0px;
  color: var(--tsb-navy);
}

.home-container{
  margin-top: 120px;
  padding-left: 50px;
}

.welcome{
  margin-bottom: 40px;
  font-size: 25px;
  line-height: 50px;
}

.welcome-sub{
  line-height: 30px;
  font-weight: 500;
  font-size: 24px;
}

.home-img-container{
  height: 480px;
  width: 800px;
  margin-bottom: 40px;
}

.home-img{
  width: 100%;
  height: 100%;
}

.quote{
  width: 530px;
  padding-left: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14.5px;
  font-weight: 500;
}

.quote-text{
  margin-bottom: 10px;
}

.quote-name{
  font-family: 'PT Serif', serif;
  font-weight: 600;
}


/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */

/* About */


.about-container{
  width: 100%;
  min-width: 1250px;
  margin-top: 140px;
  display: grid;
  grid-template-columns: 27% 42% 27%;
  gap: 20px;
  padding: 0;
}

.about-images-container{
  height: 500px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image-container{
  height: 550px;
  width: 100%;
  margin-bottom: 20px;
  transition: 1s;
}

.about-image{
  width: 100%;
  height: 100%;
}

.credentials-container{
  padding-top: 20px;
  color: var(--tsb-navy);
}

.credential{
  color: var(--tsb-navy);
  font-family: 'PT sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}

.about-info-container{
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px 5px 10px;
}

.about-info{
  font-size: 19px;
  margin: 40px 0px 0px 0px;
  padding-bottom: 40px;
  color: var(--tsb-navy);
  font-family: 'PT Sans', sans-serif;
  font-weight: 500;
  border-bottom: 1px solid var(--tsb-blue);
}

.about-head{
  font-size: 38px;
  margin-bottom: 10px;
  color: var(--tsb-orange);
  font-family: 'PT serif', serif;
}

.qual-list{
  margin-top: 30px;
  margin-bottom: 200px;
}

.qual-list-item{
  margin-bottom: 20px;
}

/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */

/* coaching */

.coaching-container{
  width: 100%;
  height: 100%;
  padding-top: 0px;
  margin-left: 0px;
}

.color-tile{
  width: 102%;
  min-width: 100%;
  height: 35%;
  min-height: 620px;
}

.ex-color-tile{
  color: var(--bg-grey);
  background-color: var(--tsb-navy);
}

.life-color-tile{
  color: var(--bg-grey);
  background-color: var(--tsb-orange);
}

.career-color-tile{
  color: var(--bg-grey);
  background-color: var(--tsb-blue);
}

.mentor-color-tile{
  color: var(--tsb-navy);
  background-color: var(--unnamed-color-ffffff);
}

.coaching-main{
  height: 100%;
  width: 55%;
  min-width: 75px;
  padding-top: 200px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.coaching-category-title, .coaching-info-title{
  width: 100%;
  min-width: 650px;
  max-width: 650px;
  margin-top: -50px;
  padding-bottom: 10px;
  font-size: 45px;
  font-family: 'PT Serif', serif;
  border-bottom: 1px solid var(--bg-grey);
}

.ex-title{
  border-bottom: 1px solid var(--tsb-blue);
}

.life-title{
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.career-title{
  border-bottom: 1px solid var(--unnamed-color-ffffff);
}

.mentor-title{
  border-bottom: 2px solid #D9D9D9;
}

.testimony-container{
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.coaching-category-testimony, .coaching-info, .attestant{
  font-family: 'PT Sans', sans-serif;
}

.coaching-category-testimony{
  width: 90%;
  padding-right: 70px;
  font-style: italic;
}

.attestant-container{
  display: flex;
  justify-content: center;
  width: 250px;
}

.attestant{
  width: 80%;
  margin-right: 20px;
  font-size: 13px;
  font-weight: 600;
}

.coaching-img-conatiner{
  width: 60%;
  min-width: 650px;
  max-width: 780px;
  margin-top: -130px;
  padding-left: 60px;
}

.coaching-info-container{
  width: 55%;
  min-width: 75px;
  padding-left: 60px;
}

.coaching-info{
  width: 75%;
  min-width: 525px;;
  margin-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--tsb-blue);
}

.coaching-info-title{
  margin-top: 0;
  border: none;
  font-size: 28px;
  color: var(--tsb-orange);
}

.coaching-info-text{
 color: var(--tsb-navy);
}



/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */





.booking-btn-container{
  position: fixed;
  right: 2%;
  top: 5%;
  width: fit-content;
  font-size: 1.1em;
  font-weight: 500;
  transition: 0s;
}

.booking-btn{
  padding: 9px 20px;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  cursor: pointer;
  color: var(--tsb-navy);
  background-color: var(--bg-grey);
  border: 2px solid var(--tsb-navy);
  border-radius: 10px;
}

.booking-btn-container:hover{
  transform: scale(1.01);
  transition: 0s;
}

.booking-btn:focus{
  outline: none;
  color: var(--orange-color);
}



/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *********************************** */



.footer{
  width: 100%;
  margin-top: 0px;
  margin-left: 359px;
  padding: 10px 10px;
  font-size: 12px;
  border-top: 1px solid var(--tsb-blue);
  border-left: 1px solid var(--tsb-blue);
  color: var(--tsb-blue);
}

.dev-credit{
  font-weight: 600;
}



/* ************************************************************ */
/* ************************************************************ */
/* ************************************************************ */




/* 
@media only screen and (max-width: 1385px) {

  .logo-container{
    height: 70%;
  }

  .logo-text{
    font-size: 17px;
  }

  .brand-name{
    font-size: 23.6px;
  }

} */

/* ************************************************************ */
/* ************************************************************ */
/* ************************************************************ */

/* 
@media only screen and (max-width: 1170px) {

  .logo-text{
    font-size: 16px;
  }

  .brand-name, .blog-title{
    font-size: 21px;
  }

  .side-links{
    font-size: 17px;
  }

  .coaching-links, .blog-link{
    font-size: 16px;
  }

} */




/* ************************************************************ */
/* ************************************************************ */
/* ************************************************************ */





/* @media only screen and (max-width: 1115px) {

  .sidebar-container{
    left: -360px;
    width: 50.5%;
    background-color: var(--bg-grey);
    height: 100vh;
  }

  .top-bar{
    display: block;
    position: absolute;
    right: -62px;
    top: 0%;
    height: 60px;
    width: 60px;
    display: flex;
    opacity: 0.8;
    color: red;
    background-color: var(--tsb-navy);
  }

  .top-bar-btn{
    background-color: transparent;
    border: none;
  }

  .top-bar-btn img{
    height: 60px;
  }

  .side-icons{
    width: 60%;
  }

  .about-container{
    margin-left: 10px;
    margin-top: 60px;
    padding-right: 30px;
    font-size: 1.3em;
  }

  .about-images-container{
    margin-left: 20px;
    margin-right: 20px;
  }

  .about-image-container{
    height: 330px;
    width: 330px;
    margin-bottom: 40px;
    transition: 1s;
  }
  
  .about-image{
    width: 100%;
    height: 100%;
  }

  .about-info-container{
    padding-left: 10px;
  }

  .about-info{
    margin: 30px 0px;
  }

  .about-info h2{
    margin-bottom: 20px;
  }

  .booking-btn-container{
    top: 1.5%;
    width: 300px;
  }

} */



/* ************************************************************ */
/* ************************************************************ */
/* ************************************************************ */



/* @media only screen and (max-width: 900px) {

  .sidebar-container{
    left: -450px;
    width: 450px;
  }

  .top-bar{
    left: 100%;
  }

  .about-image-container{
    height: 290px;
    width: 290px;
    margin-bottom: 20px;
    transition: 1s;
  }

  .about-container{
    font-size: 1.1em;
  }

  .about-info{
    margin: 10px 0px;
  }

  .booking-btn-container{
    top: 1.5%;
    width: 260px;
  }

} */



/* ************************************************************ */
/* ************************************************************ */
/* ************************************************************ */



















