@import "./stylesheets/sidebarStyle.css";
@import "./stylesheets/homeStyle.css";
@import "./stylesheets/aboutStyle.css";
@import "./stylesheets/whatStyle.css";
@import "./stylesheets/IndivCoachingStyle.css";
@import "./stylesheets/consultancyStyle.css";
@import "./stylesheets/bookingBtnStyle.css";
@import "./stylesheets/blogStyle.css";
@import "./stylesheets/contactStyle.css";
@import "./stylesheets/footerStyle.css";
@import "./stylesheets/privacyStyle.css";

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Colors: */
:root {
--bg-grey: #FAFAFA;
--tsb-blue: #B1CEE9;
--tsb-navy: #0D274F;
--tsb-orange: #F4AD2F;
--tsb-mauve: #A57982;
--unnamed-color-ffffff: #FFFFFF;
}

a{
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:focus { outline: 2px solid var(--orange-color); } 

body, .root, .App{
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container{
  height: 100%;
  width: 100%;
  display: flex;
  font-family: 'PT serif', serif;
  background-color: var(--bg-grey);
}

.mob-only{
  display: none;
}

/* small laptops/desktops or aide tablets */

@media only screen and (max-width: 1250px) {

  .sidebar-container{
    width: 30%;
    min-width: 250px;
    max-width: 250px;
  }

  .side-brand{
    padding: 0
  }

  .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo{
    height: 70%;
    max-height: 50.5px;
    max-width: 50.5px;
  }
  
  .logo-text{
    font-size: 0.85em;
  }

  .brand-name{
    font-size: 1em;
  }

  .side-blog-title{
    padding-right: 0px;
  }

  .side-blog-title{
    font-size: 15px;
  }

  .blog-link{
    cursor: pointer;
    font-size: 13px;
  }

  .non-side-content{
    margin-left: 250px;
  }

  .what-quote, .text-statement{
    width: 650px;
  }

  .text-statement{
    font-size: 40px;
    line-height: 48px;
  }

  .what-quote{
    font-size: 45px;
    line-height: 55px;
  }

  .booking-btn{
    font-size: 15px;
  }

  .footer{
    min-width: 920px;
    padding-left: 260px;
    font-size: 10px;
  }

}

/* Mobile screens */

@media only screen and (max-width: 510px) {

  body::-webkit-scrollbar {
    display: none;
  }

  /* Mobible 'sidebar' (top nav bar for mobile) */

  .mob-only{
    display: block;
  }

  .main-container{
    display: flex;
    flex-direction: column;
  }

  .sidebar-container{
    position: static;
    width: 100vw;
    max-width: 100%;
    min-width: none;
    max-height: 11vh;
    min-height: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-right: none;
    border-bottom: 1px solid var(--tsb-blue);
  }

  .top-bar{
    height: 11vh;
    max-height: fit-content;
    min-height: 65px;
    width: 15vw;
    display: flex;
    justify-content: center;
  }

  .top-bar-btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
  }

  .sidebar-content{
    width: 85vw;
    height: 11vh;
    max-height: fit-content;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--tsb-blue);
  }

  .home-link{
    height: 100%;
    width: 100%;
    margin-top: max(2vh, 5px);
    padding: 0px;
  }

  .side-brand{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side{
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .logo-container{
    height: 100%;
  }

  .logo{
    height: 100%;
    max-height: 50.5px;
    max-width: 50.5px;
  }

  .brand-text{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-text{
    font-size: 1em;
    width: fit-content;
  }

  .brand-name{
    font-size: 1.5em;
  }

  .side-links{display: none}

  .side-blog{display: none}

  .side-badges{ display: none}

  .non-side-content{margin: 0;}

  .footer{
    width: 100vw;
    margin: 4px 0px 3px 0px;
    padding: 7px 0px 3px 3px;
    border-left: none;
  }



 /* ************************** */
  /* ************************** */
  /* ************************** */


  /* mobile menu */

  .mobileMenu{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--tsb-blue);
    z-index: 3;
  }

  .mob-menu-option{
    height: 11.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mob-menu-btn{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 20px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
  }

  .mob-icon-btn{
    width: 40%;
  }

  .mob-menu-text{
    font-size: 1.8em;
    font-family: 'Pt sans';
    color: var(--tsb-navy);
  }



  /* ************************** */
  /* ************************** */
  /* ************************** */


  /* general grid */

  .no-mob{
    display: none;
  }

  .content-container{
    width: 100vw;
    margin: 25px 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: 
    "mob-title1"
    "mob-par1"
    "mob-form"
    "mob-pic1"
    "mob-title2"
    "mob-par2"
    "mob-title3"
    "mob-par3"
    "mob-icon"
    "mob-map"
    "mob-contact-info"
    "mob-button"
    "mob-badge"
  }

  .mob-title1{
    grid-area: mob-title1;
    min-width: none;
    width: 80vw;

  }

  .mob-par1{
    grid-area: mob-par1;
    min-width: none;
    width: 100vw;
    font-size: 1.25em;
    margin-bottom: 50px;
    padding: 5px 22px;
  }

  .mob-form{
    grid-area: mob-form;
    width: 100vw;
    padding: 0px 20px;
    border-bottom: none;
  }

  .mob-pic1{
    grid-area: mob-pic1;
    min-width: none;
    width: 100vw;
    height: 75vw;
    padding: 0px;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mob-par2{
    grid-area: mob-par2;
    min-width: none;
    width: 100vw;
    font-size: 1.25em;
    margin-bottom: 50px;
    padding: 5px 22px;
  }

  .mob-button{
    grid-area: mob-button;
    position: static;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 00px;
    padding: 30px 0px 80px 0px;
    border-bottom: none;
  }

  .mob-icon{
    grid-area: mob-icon;
  }

  .mob-map{
    grid-area: mob-map;
    min-width: none;
    max-width: none;
    width: 100vw;
    height: 75vw;
  }

  .mob-contact-info{
    grid-area: mob-contact-info;
    min-width: none;
    max-width: none;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .mob-badge{
    grid-area: mob-badge;
    width: 100vw;
    margin-top: 5px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .booking-btn{
    font-size: 1em;
    padding: 15px 10px;
    color: var(--bg-grey);
    background-color: var(--tsb-orange);
    border: none;
  }

  .booking-btn-container a{
    padding-bottom: 40px;
    border-bottom: 1px solid var(--tsb-blue);
  }

  footer, p{
    font-size: 1.1em;
  }


  /* ************************** */
  /* ************************** */
  /* ************************** */


  /* home page */

  .welcome{
    display: none;
  }
  
  .quote-text{
    margin: 0px;
  }

  .mob-badge-link{
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .mob-badge-img{
    width: 40%;
    height: 40%
  }

  .home-img{
    width: 75%;
    height: 75%;
  }

  /* ************************** */
  /* ************************** */
  /* ************************** */


    /* about page */

    .about-container, .credentials-container, .about-top, .top-img-title-credentials{
      width: 100vw;
    }

    .credentials-container{
     width: 90vw;
     height: fit-content;
     margin: 5px auto;
    }

    .about-head{
      width: 100%;
      margin-bottom: 10px;
    }

    .about-info{
      margin-top: 10px;
      border: none;
    }

    .about-content{
      font-size: 0.8em;
    }

    .about-image-mob-container{
      width: 100vw;
      height: 75vh;
      margin: 10px 0px;
    }

    .about-img{
      width: 75%;
      height: 75%;
      margin-bottom: 30px;
    }

    .credential-container{
      width: 85%;
      padding-left: 5%;
      padding-bottom: 20px;
      margin-bottom: 50px;
      border-bottom: 1px solid var(--tsb-blue);
    }

    .credential{
      font-size: 0.8em;
      line-height: 1em;
    }

    .credential-title{
      font-size: 1em;
    }

    .mob-about-head{
      margin-bottom: 30px;
    }

    


  /* ************************** */
  /* ************************** */
  /* ************************** */


    /* what page */

    .what-info-container{
      width:90vw;
      margin: 10px auto;
      padding: 5px 5px;
    }

    .what-info-title{
      font-size: 1.8em;
      margin-bottom: 30px;
    }


    .what-quote-container{
      width: 90vw;
      margin: 10px auto;
      padding: 5px 5px;
      font-style: italic;
    }

    .what-quote{
      width: 100%;
      font-size: 0.85em;
      line-height: 1.3em;
    }

    .competency-container{
      width: 100vw;
      height: fit-content;
      display: flex;
      flex-direction: column;
    }

    .competency-title{
      width: 90vw;
      margin: 2px auto;
      padding: 5px 5px;
      padding-top: 40px;
      font-size: 1.7em;
      text-align: center;
    }

    .competency-tiles-container{
      width: 90vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0px auto;
    }

    .competency-tile{
      margin-bottom: 2vh;
      margin-right: 0px;
    }

    .faq-container{
      padding-top: 50px;
      padding-bottom: 50px;
    }

  /* ************************** */
  /* ************************** */
  /* ************************** */


    /* coaching page */

    .mob-coaching-container, .coaching-container, .coaching-main, .coaching-category-title, .coaching-info, .testimony-container{
      width: 100vw;
      min-width: 0px;
      max-width: 100vw;
      padding: 0px;
      margin: 10px 0px;
      border: none
    }

    .mobile-coaching-title, .coaching-img-container{
      width: 90vw;
      max-height: 220px;
      margin: 5px auto;
      padding: 5px 10px;
    }

    .mobile-coaching-title{
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: 1.25em;
      color: var(--tsb-navy);
      border-bottom: 1px solid var(--tsb-blue);
    }

    .coaching-category-title{
      color: var(--tsb-orange);
      text-align: center;
      font-size: 2em;
    }

    .coaching-info-text, .coaching-category-testimony, .attestant{
        width: 94vw;
        margin: 10px auto;
        padding: 5px 10px;
        font-size: 0.8em;
        line-height: 1.3em;
    }

    .coaching-category-testimony, .attestant{
      font-size: 1em;
    }



  /* ************************** */
  /* ************************** */
  /* ************************** */

  /* contact page */

  .contact-form-input{
    min-width: none;
    max-width: none;
    width: 80vw;
  }

  .contact-text-container, .contact-links-container{
    padding: 0px 20px;
    margin-bottom: 50px;
  }

  .contact-links-container{
    height: 25vh;
    max-height: 180px;
    min-height: 120px;
  }

  iframe{
    width: 100vw;
    height: 50vw;
  }

  /* ************************** */
  /* ************************** */
  /* ************************** */

  /* blogs page */

  .blogs-container{
    width: 100vw;
    margin: 5px auto;
  }

  .blogs-title-container{
    margin: 5px auto;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    border: none;
  }

  .blogs-title{
    width: 80vw;
    min-width: 0px;
    padding-bottom: 20px;
    font-size: 2em;
    border-bottom: 1px solid var(--tsb-blue);
  }

  .blog-post-container{
    width: 90vw;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-post-container a{
    width: fit-content;
  }
  
  .blog-img-container{
    align-self: center;
    width: 80vw;
    height: 70vw;
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .blog-info-container{
    width: 100%;
  }

  .blog-date-theme{
    margin-bottom: 10px;
  }

  /* ************************** */
  /* ************************** */
  /* ************************** */

  /* blog post page */

  .post-container, .blog-post-title-container, .blog-post-img-container, .blog-post-upper-container, .blog-post-quote-container, .blog-post-lower-container, .blog-post-footer-container, .blog-post-tags-container, .blog-post-info-share-container, .blog-post-nav-container{
    width: 90vw;
    margin: 20px auto;
  }

  .post-container{
    margin-top: 25px;
  }

  .date-theme-container{
    justify-content: space-around;
  }

  .blog-post-img-container{
    height: 90vw;
  }

  .post-upper, .post-lower{
    font-size: 1em;
  }

  .blog-post-info-share-container{
    flex-direction: column;
    padding-bottom: 50px;
  }

  .post-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
    margin-top: 40px;
  }

  /* ************************** */
  /* ************************** */
  /* ************************** */

  /* HR Consultancy page */
  
  /* ************************** */
  /* ************************** */
  /* ************************** */

  /* privacy policy page */

  .privacy-container{
    margin-bottom: 50px;
  }

  .privacy-container, .privacy-title-container, .privacy-info-container{
    width: 100vw;
  }

  .privacy-title{
    font-size: 1.75em;
  }

  .privacy-title-lg{
    font-size: 2.4em;
  }

  .privacy-info-container{
    display: flex;
    flex-direction: column;
  }

  .privacy-info-title{
    font-size: 1.4em;
  }

  .privacy-info, .privacy-list{
    font-size: 0.9em;
  }



}

/* very small Mobile screens */

@media only screen and (max-width: 376px) {

  .mob-menu-text{
    font-size: 1.4em;
  }

  .mob-menu-option{
    height: 11.5%;
  }

  .sidebar-container{
    height: 11vh;
  }

  .sidebar-content{
    margin-bottom: 3px;
    height: 11vh;
  }

  .top-bar{
    height: 11vh;
  }

  .top-bar-btn{
    padding: 0;
    min-width: 30px;
    min-height: 30px;
  }

  .menubtn{
    height: 50%;
    width: 50%;
    min-width: 30px;
    min-height: 30px;
  }
  
  .logo{
    height: 100%;
    max-height: 40.5px;
    max-width: 40.5px;
  }
  
  .brand-text{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo-text{
    font-size: 0.85em;
    width: fit-content;
  }
  
  .brand-name{
    font-size: 1.1em;
  }

  .competency-title{
    width: 90vw;
    margin: 2px auto;
    padding: 5px 5px;
    padding-top: 40px;
    font-size: 1.7em;
  }

  .competency-title{
    font-size: 1.5em;
  }

  footer p{
    font-size: 0.85em;
  }

  .coaching-img-container{
    max-height: 160px;
  }

  

}